{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "strict": 0,
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }]
  }
}
